{% extends "base.html" %}

{% block app_content %}
     <section>  
        <br>    
        <article>
            <h2>Registrarse/Logearse</h2>
            <br>
            <a class="boton_registrarse" href="{{ url_for('register') }}">Registrarse</a>
            <a class="boton_registrarse" href="{{ url_for('login') }}">Logearse</a>
        </article>      
    </section>
    <section >   
        <br>   
        <article>
            <h2>Quiénes Somos</h2>
            <br>
            <p>Este es el contenido principal de mi web.</p>   
        </article>      
    </section>
    <section>  
        <br>       
        <article>
            <h2>Cuál es nuestro enfoque</h2>
            <br>
            <p>Este es el contenido principal de mi web.</p>      
        </article> 
        <br>  
    </section>
{% endblock %}